meta(property='og:title' content='다코미: 함께하는 다꾸 라이브, Dakomi')
meta(property='og:site_name' content='다코미: 함께하는 다꾸 라이브, Dakomi')
meta(property='og:description' content='다코미: 함께하는 다꾸 라이브, Dakomi')
meta(property='og:type' content='website')
meta(property='og:image' content='assets/meta.png')
meta(property='og:image:alt' content='다코미: 함께하는 다꾸 라이브, Dakomi')
meta(property='og:url' content='https://dakomi-app.github.io')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='dakomi_app')
meta(name='twitter:creator' content='dakomi_app')

meta(name='twitter:title' content='다코미: 함께하는 다꾸 라이브, Dakomi')
meta(name='twitter:description' content='다코미: 함께하는 다꾸 라이브, Dakomi')
meta(name='twitter:image' content='assets/meta.png')
meta(name='twitter:image:src' content='assets/meta.png')
meta(name='twitter:image:alt' content='다코미: 함께하는 다꾸 라이브, Dakomi')
