//
// Typography
//

// Override Bootstrap typography variables

$font-family-base: "Pretendard", -apple-system, sans-serif;

$headings-font-family: "Pretendard", -apple-system, sans-serif;

// Custom font family

$alt-font-family: "Pretendard", -apple-system, sans-serif;

// Override default Bootstrap font weights

$font-weight-normal: 400;
$headings-font-weight: 700;
